<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    
    <h1>Conta</h1>
    <h4>Consultar Saldo<h4>
        <form action="/balance" method="GET">
            <button type="submit">SALDO</button>
        </form>  

     <h4>Consultar Cobranças<h4>
        <form action="/charges" method="GET">
                <button type="submit">COBRANÇAS</button>
        </form>
    
    <h4>Criar Cobrança<h4>
        <form action="/charge/create" method="GET">
                    <button type="submit">COBRANÇAS</button>
        </form>
   <!-- <script type="text/javascript" src="https://sandbox.boletobancario.com/boletofacil/wro/direct-checkout.min.js"></script>
   <script src='js/main.js'></script> -->
</body>
</html>