<!DOCTYPE html>
<html lang="en"></html>

    <%- include('../partitions/head') %>

<!-- <body class="container-fluid">

    <div class="backg-load">
        <div class= "spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div> -->

    <%- include('../partitions/main') %>
    <%- include('../partitions/user/nav') %>

    <%- body %>
      
</body>
</html>