<% if(products.length > 0){%> <% for (let product of products){%>
<div class="row gy-3 text-center container-fluid">
  <div class="col-3 col-md-3">
    <div class="p-4 border bg-light container-fluid">
      <div class="card" style="width: 18rem">
        <img src="<%=product.image%>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%=product.name%></h5>
          <span class="card-subtitle mb-2 text-muted">R$ <%=product.value%></span>
          <p class="card-text"></p>
          <a href="/product/<%= product._id%>" class="btn btn-dark">Detalhes do produto</a>
          <a href="/cart/" class="btn">
            <img
              src="https://img.icons8.com/ios/40/000000/add-shopping-cart--v1.png"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<%}%> <%}%>
