<div class="container">
            <h2>
                <p class="text-black-50 ">
                  <strong>Seu carrinho</strong></p>
              </h2>
            <ul class= "list-group list-group-flush cart mb-3">
            <li class=" list-goup-item py-3">
                <div class="row g-3">
                    <div class="col-4 col-md-3 col-lg-2">
                        <a href="#">
                            <img width = "100px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvd0SsaMAzw34YKCCey2p29USBRroezkvraYNXGh7HigpgxwTDNskDghz-Is-_xPCAw4RdBPIW&usqp=CAc" class="img-thumbnail">
                        </a>
                    </div>
                    <div class="col-8 col-md-9 col-lg-7 col-xl-8 text-left align-self-center">
                        <h6><b><a href="#" class= "text-decoration-none text-dark"> Anel folha prata 925</a></b></h6>
                        <h6>
                            <p class="fw-light"><small>
                                Anel de prata maravilhoso pra vc ficar mais gata possível e blabla
                            </small></p>
                        </h6> 
                    </div>
                    <div class="col-6 offset-6 col-sm-6 offset-sm-6 col-md-4 offset-md-8 col-lg-3
                        offset-lg-0 col-xl-2 align-self-center mt-3">
                        <div class="input-group">
                            <button type="button" class="btn btn-outline-secondary btn-sm">
                                <img class="bi" width="16" height="16" fill="currentColor" src="https://img.icons8.com/ios/64/000000/collapse-arrow--v1.png"/>
                            </button>
                            <input type="text" class="form-control text-center border-secondary" value="1">
                            <button type="button" class="btn btn-outline-secondary btn-sm">
                                <img class="bi" width="16" height="16" fill="currentColor" src="https://img.icons8.com/ios/64/000000/expand-arrow--v1.png">
                            </button>
                            <button type="button" class="btn btn-outline-danger border-secondary btn-sm">
                                <img class="bi" width="16" height="16" fill="currentColor" src="https://img.icons8.com/ios/60/000000/trash--v1.png">
                            </button>
                        </div>
                        <div class="text-right mt-2">
                            <small class="text-secondary">Valor Item: R$ 139,90</small><br>
                        </div>
                    </div>
                </div>             
            </li>
            <li class="list-group-item py-3">
                <div class="card-body text-center">
                    <h5 class="card-title"><small class="text-dark">Valor total R$139,90</small></h5>
                    <p class="card-btn"> 
                      <a href="/products" class="btn btn-secondary"> Continuar comprando
                        <img src="https://img.icons8.com/ios/30/000000/price-tag--v1.png"/>
                      </a>
                    </p>
                    <p class="card-btn"> 
                        <a href="/checkout" class="btn btn-success"> Ir para pagamento
                            <img src="https://img.icons8.com/ios/32/000000/card-in-use.png"/>
                        </a>
                      </p>
            </li>
            </ul>
         </div>         
