<div class="container-fluid row g-2">
        <div class="col-5">
        <h3>
            <p class="text-secondary ">
              <strong>Nosso endereço</strong></p>
          </h3>
          <address>
            <strong>Shine YOU!</strong><br>
            Asa Sul CL 01<br>
            Brasília, DF 73010-100<br>
            <abbr title="Phone"></abbr> (61) 3300-0939
            <a href="">contato@shineyou.com.br</a>
        </addres>
        </div>

        <div class="col-7">
        <div class="mb-3">
            <h3>
                <p class="text-secondary ">
                  <strong>Sugestões e Reclamações</strong></p>
              </h3>
              <address>
            <label for="exampleFormControlInput1" class="form-label">Seu email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="nome@exemplo.com">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">O que você quer nos contar?</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </div>
    </div>