<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body{
            padding-top: 50px;
            background-image: url(https://www.teahub.io/photos/full/163-1632017_revender-joias-e-semi-joias.jpg);
        }
    </style>
</head>

<body class="container">
<div class="body"></div>
 
    <header> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>
        <a></a>
    </header>

    <main>
        <div class="jumbotron text-center body">
            <h1>
                <strong>Shine YOU!</strong>
            <h1>
        </div>
    </main>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav mr-auto container">
            <li class="nav-item">
                <a class="nav-link" href="/home/users">Faça seu login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Nossos produtos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/home/account">Conta</a>
            </li>
        </ul>
    </nav>     
</body>
</html>
