.login {
    margin-top: 40px;
    padding: 10px 30px 10px;
    background: #e7e5e5;
    box-shadow: -5px 6px 20px -8px rgb(0 0 0 /75%);
    align-self: center;
}

.register {
    margin-top: 40px;
    padding: 10px 30px 10px;
    background: #e7e5e5;
    box-shadow: -5px 6px 20px -8px rgb(0 0 0 /75%);
    align-self: center;
}

.or{
    align-self: center;
    justify-items: center;
    text-align: center;
}

.jumbotron img {
    display:block;
    margin-top: 20px;
    width: 150%;
}

.jumbotron {
width: 150px;
margin: 0 auto;
}

.cart{
    list-style: none;
}

.company{
    margin-top: 20px;
}

.products{
    margin-top: 20px;
}

.resize {
    width: 250px
}

.message-err {
    display: none;
}

.back-load{
    background: rgba(37, 37, 37, 0.3);
}

.back-load .spinner-grow{
    width: 5rem;
    height: 5rem;
    margin-left: 50%;
    left: -2;
}

.size {
    width: 80px
}

.off {
    display: none;
}
.margins{
    margin-top: 20px;
    margin-bottom: 30px;
}
.sizeimage {
    width: 50px
}
.margeleft { 
    margin-left:-110px;
}
.margtop {
    margin-top: 50px;
}
