<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <div class="container-fluid">
      <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/admin">Home</a>
          </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                A empresa
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/company">Nossa história</a></li>
                <li><a class="dropdown-item" href="/admin">Administração</a></li>
              </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Produtos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/admin/products">Produtos cadastrados</a></li>
              <li><a class="dropdown-item" href="/admin/products/add">Cadastrar produto</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pedidos
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/admin/orders">Listar pedidos</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
          <button class="btn  btn-light btn-outline-secondary me-md-2" type="submit">
            <img src="https://img.icons8.com/small/16/000000/search.png"/>
          </button>
        </form>
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="nav-link" href="/login">
                    <button class="btn  btn-light btn-outline-secondary" type="submit">
                        Entrar/Cadastrar
                    </button>
                </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>