<div class="container-fluid">
  <div class="row">
    <h3 class="text-center">Cadastrar Produto</h3>
    <div class="col-2"></div>
    <div class="col-8">
      <form id="form-product">
        <div class="mb-3">
          <label for="product-name" class="form-label">Nome *</label>
          <input
            type="text"
            class="form-control"
            id="product-name"
            name="product-name"
          />
          <div class="form-text message-err">Insira um nome</div>
        </div>
        <div class="mb-3">
          <label for="product-description" class="form-label">Descrição</label>
          <input
            type="text"
            class="form-control"
            id="product-description"
            name="product-description"
          />
        </div>
        <div class="mb-3">
          <label for="product-category" class="form-label">Categoria *</label>
          <input
            type="text"
            class="form-control"
            id="product-category"
            name="product-category"
          />
        </div>
        <div class="mb-3">
          <label for="product-quantity" class="form-label">Quantidade *</label>
          <input
            type="number"
            class="form-control"
            id="product-quantity"
            name="product-quantity"
            value="0"
          />
        </div>
        <div class="mb-3">
          <label for="product-price" class="form-label">Preço *</label>
          <input
            type="number"
            class="form-control"
            id="product-price"
            name="product-price"
            placeholder="R$ 0,00"
          />
        </div>
        <div class="mb-3">
          <img src="" id="image-load" class="off resize">
          <input type="file" id="upload" class="off" >
          <input type="hidden" name="product-image" id="product-image" class="off" >
          <button type="button" class="btn btn-primary" id="bt-image">
            Carregar imagem
          </button>
        </div>
        <button type="button" class="btn btn-secondary" id="bt-product">
          Cadastrar
        </button>
      </form>
    </div>
  </div>
</div>

<script src="/js/aws-sdk.min.js"></script>
<script src="/js/upload.js"></script>
<script src="/js/admin/products.shineyou.js"></script>
